---
import Layout from '../layouts/Layout.astro';

const name = 'Jesus Mauricio';
const apellido='Piste Ek'
const message = 'Bienvenido a Mi pagina  de Astro ';
const descrip ='es un gauto que vean mi pagina que estan en proceso de incio';
---
<Layout>
  <main class="flex items-center justify-center min-h-screen bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 text-white px-4">
    <div class="relative bg-white/10 backdrop-blur-xl rounded-3xl shadow-2xl p-10 max-w-xl w-full animate-fade-in">
      <div class="absolute top-0 left-0 w-full h-1 rounded-t-3xl bg-gradient-to-r from-cyan-400 via-blue-500 to-purple-600"></div>
      
      <h1 class="text-5xl font-extrabold text-white drop-shadow mb-4 text-center tracking-tight">
        {name}
        {apellido}
      </h1>
      
      <h2 class="text-lg font-light text-white/90 text-center mb-6">
        {message}
      </h2>
      <lu>
        <img src="public/imagenes/futuristic-digital-circuit-background.webp" alt="inicio mau" width="600" />
      </lu>
      
      <div class="flex justify-center">
        <a href="/" class="px-6 py-2 bg-white text-indigo-600 font-semibold rounded-full shadow-lg hover:bg-gray-100 transition duration-300">
          Ir al inicio
        </a>
        <p>{descrip}</p>
      </div>
    </div>
  </main>
</Layout>
