---
const navTitle='barra de navegacion'

---
<span>{navTitle}</span>
<nav>
 <a href="/">Inicio</a>
 <a href="/about">pagina 1</a>
 <a href="/contacto">pagina 2</a>
 <a href="/pagina">Mi Informacion </a>
</nav>